/* CSS for styles */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Style navbar */
nav {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

/* Style footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style table */
#jobApplicationsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

#jobApplicationsTable th, #jobApplicationsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#jobApplicationsTable th {
    background-color: #f2f2f2;
}
