body {
	font-family: Arial, sans-serif;
	background: lightgrey;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  header {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
  }
  
  nav {
	float: right;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  nav ul li {
	display: inline;
	margin-left: 20px;
  }
  
  nav ul li:first-child {
	margin-left: 0;
  }
  
  nav ul li a {
	color: #fff;
	text-decoration: none;
  }
  
  .content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .container {
	background-color: #fff;
	padding: 70px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
  }
  
  h2 {
	text-align: center;
	margin-bottom: 20px;
  }
  
  form {
	display: flex;
	flex-direction: column;
	font-weight: bold;
  }
  
  input {
	height: 25px;
	border-radius: 4px;
  }
  
  button {
	padding: 10px;
	border: none;
	border-radius: 4px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	color: white;
	font-size: 16px;
	margin-left: 70pt;
	margin-top: 20pt;
	height: auto;
	width: 100px;
  }
  
  button:hover {
	background: linear-gradient(135deg, #9b59b6, #71b7e6);
  }
  
  footer {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
  }
  